* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: Helvetica, sans-serif;
}

h1 {
	padding: 35px;
	font-size: 75px;
	color: #A93BB4;
	font-family: Parisienne, cursive;
	border-bottom: 1px solid #A93BB4;
	width: 66%;
	margin: auto;
}

h3 {
	color: #666;
	margin-bottom: 15px;
}

ul {
	padding: 10px;
	width: 33%;
	margin: -25px auto 0;
	background: white;
	min-width: 400px;
}

li {
	display: inline-block;
	list-style-image: none;
	margin: 7px;
	color: #666;
	letter-spacing: 2px;
}

li:hover {
	color: #A93BB4;
	cursor: pointer;
}

p {
	width: 50%;
	margin: auto;
	padding: 15px;
	color: #666;
}

div {
	margin-top: 25px;
}

#lead {
	font-size: 20px;
}

#about {
	width: 66%;
	margin: 25px auto;
	min-width: 800px;
}

#about:after {
	content: "";
    clear: both;
    display: block;
}

#about div {
	float: left;
	height: auto;
	padding: 15px;
}

#about-img {
	width: 40%;
}

#about-text {
	width: 60%;
}

#about p {
	width: 100%;
}

#articles {
	width: 66%;
	margin: auto;
}

.container {
	width: 45%;
	float: left;
	height: 310px;
	background-size: cover;
	border: 1px solid black;
	margin: 15px;
	position: relative;
}

.container p {
	position: absolute;
	color: white;
	background-color: rgba(60, 60, 60, 0.7);
	padding: 5px;
	margin: 0;
	bottom: 0;
	text-align: left;
	width: 100%;
}

.container small {
	font-size: 12px;
}

#article1 {
	background: url("../img/1466207088.png") top;
}

#article2 {
	background: url("../img/1466207634.png") top left;
}

#article3 {
	background: url("../img/1468457403.png") top;
}

#article4 {
	background: url("../img/1468457363.png") top;
}

#article5 {
	background: url("../img/179600ac49eb50cf.JPG") center;
}

#article6 {
	background: url("../img/1466444041.png") right;
}

#article7 {
	background: url("../img/34014bed00792891.JPG") center left;
}

#article8 {
	background: url("../img/05d0f4d780778f45.JPG") bottom;
}

.hidden {
	display: none;
}

.active-nav {
	color: #9900cc;
}

#contact p {
	padding: 10px;
}

#contact a {
	text-decoration: none;
	font-style: italic;
	color: #666;
}

#contact a:hover {
	color: #222;
}

#resume {
	width: 66.66%;
	margin: auto;
	padding-bottom: 25px;
	text-align: left;
}

#resume h3 {
	font-size: 17px;
	margin-bottom: 4px;
}

#resume p {
	margin: 0 0 4px 0;
	padding: 0;
}

#resume ul {
	padding: 0;
	width: auto;
	margin: 0;
}

#resume li {
	display: list-item;
	margin: 4px 0 4px 18px;
	letter-spacing: 0;
}

#resume li:hover {
	cursor: auto;
	color: #666;
}
